<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <form action="/addgame" method="POST">
                    <h3>Enter Your Game Here:</h3> 
                    <div class="form-group">
                        <label >Game Title</label>
                        <br>
                        <textarea name="title" placeholder="Enter Game Title" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Game Genre</label>
                        <br>
                        <textarea name="genre"  placeholder="Enter Game Genre" class="form-control" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Game</button>
                    <!--<button type="submit">Submit Game</button>-->
            </form>
        </div>
    </div>
</div>